@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Playfair+Display&display=swap");

.header {
  background-color: #0b2f57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 55px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header #bar {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.header .logo {
  color: white;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

.Colum3 div {
  margin: 0px 10px;
}

.Colum3 .Initial--header {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #0b2f57;
}

.Colum3 .Initial--header:hover {
  background-color: transparent;
  color: white;
}

.NomCm-header {
  color: white;
  font-weight: 600;
}

.img-admin-logo {
  width: 40px;
  height: 40px;
  border-radius: 500px;
}




/* MENU VERTICAL */


.navsd {
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom-right-radius: 20px;
  background-color: #0b2f57;
  position: fixed;
  left: 0;
  top: 55px;
  padding-bottom: 150px;
}

.list {
  background-color: #0b2f57;
  position: absolute;
  top: 0;
  width: 100%;
}

.activef {

  transform: translate(-600px);
}

.nav__link {
  color: white;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav__link--insideflist__button :hover {
  background-color: #134074;
}


.list__show {
  width: 100%;
  margin-left: auto;
  border-left: 2px;
  list-style: none;
  transition: height .4s;
  height: 0;
  
}



.list__item {
  list-style-type: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
  
}

.list__item--click {
  cursor: pointer;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-left: 15px;
}

.rotarImagen{
  font-size: 50px;
}