.cont_login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fa;
  flex-direction: column;
}

.form_login {
  background-color: #0b2f57;
  border-radius:8px;
  overflow: hidden;
  text-align: center;
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
}

.ui.form > .submit-error {
  margin: 0;
  margin-bottom: 10px;
}

.logo_login {
  width: 60px;
  height: 60px;
}

.form_login input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
}

.form_login .btn {
  width: 100%;
  background-image: linear-gradient(0deg, #093e79, #145cad);
  color: white;
  font-weight: bold;
  padding: 8px 0px;
  border: none;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.form_login .btn.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.form_login .btn:hover {
  background-image: linear-gradient(0deg, #145cad, #145cad);
}

.inicial_letra_login {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-weight: 700;
}

.form_login .btn:hover {
  background-position: right;
}

.error {
  color: #9f3a38;
}


.cont-forgot{
  width: 300px;
  /* background-color: white; */
  border-radius: 8px;
 /*  border:  2px solid #0b2f57; */
   margin-top: 10px;
   padding: 15px 30px ;
   display: flex;
   justify-content: center;
    align-items: center;
}

.cont-forgot p {
  color: #0b2f57;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #f6f8fa;
  
}
.cont-forgot p:hover{
  border-bottom: 2px solid #093e79;
}