.cont_modal-eliminar {
    background-color: #00000066;
    position: absolute;
    top: -120%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
}

.form-eliminar {
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    overflow: hidden;
    position: relative;
    background-color: white;
    text-align: center;

}

.header_eliminar {
    background-color: #dc3545;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.body-eliminar {
    margin-top: 40px;
}

.body-eliminar .btn {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.body-eliminar .btn.eliminar {
    background-color: #dc3545;
    color: white;
    border: 3px solid #dc3545;
}

.body-eliminar .btn.eliminar:hover {
    background-color: transparent;
    color: #dc3545;
}

.body-eliminar .btn.cancelar {
    background-color: #0b2f57;
    color: white;
    border: 3px solid #0b2f57;
}

.body-eliminar .btn.cancelar:hover {
    background-color: transparent;
    color: #0b2f57;
}

.active_Modal_Eliminar {
    top: 0;
}