
.cont_modal_forgot{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
}

.cont_modal_forgot form{
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    margin: auto;
    width: 500px;
    padding: 20px;

}

.cont_modal_forgot form div{
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px; 
    padding: 0px 5px 10px 0px;
}
.cont_modal_forgot form div h2{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.cont_modal_forgot form input{
    border-radius: 6px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
    width: 444px;
    border: 1px solid gray;
    margin: 10px 0px 15px 0px;
}
.cont_modal_forgot form p {
    margin: 10px 0px;
    font-size: 17px;
}

.cont_modal_forgot .btn{
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    float: right;
    width: 100px;
}
.cont_modal_forgot .btn.enviar{
    background-color: #0b2f57;
    border: 2px solid #0b2f57;
    margin-left: 10px;
}
.cont_modal_forgot .btn.cancelar{
    background-color: #e4e6eb;
    border: 2px solid #e4e6eb;
    color: #0b2f57;
}

/* HEADER */
.header-forgot{
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between
    ;
    align-items: center;
}
.header-forgot h1 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #0b2f57;
    font-family: inherit;
    margin: 0;
}

.header-forgot .login{
    float: right;
    color: white;
    margin: 0;
    padding-right: 20px;
    background-color:#0b2f57 ;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    margin-right: 20px;

}