* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cont-menu {
    background-color: #0b2f57;
    width: 400px;
    position: absolute;
    left: 0;
    top: 55px;
    transition: all .5 ease;
    overflow-y: auto;
    height: 100vh;

}

.cont-menu ul {
    list-style: none;
}

.cont-menu ul li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 50px 20px;
    cursor: pointer;

}